/*
 Theme Name:   ellak.gr 2015 (Brandon child)
 Theme URI:    https://ellak.gr
 Description:  Child theme for ellak.gr
 Author:       EELLAK
 Author URI:   https://eellak.gr
 Template:     brandon
 Version:      0.1
 License:      GNU General Public License version 3.0
 License URI:  http://www.gnu.org/licenses/gpl-3.0.html
 Tags:         one-column, two-columns, left-sidebar, right-sidebar, fixed-width, custom-background, custom-header, custom-menu, editor-style, featured-image-header, featured-images, post-formats, theme-options, translation-ready
 Text Domain:  ellakgr
*/

/* remove the padding for the logged in users. messes up
 * the newsbar styling */
body {
	padding: 0;
}

/* newsbar customization */
#ellak-newsbar-cont {
	background: #f87e0f;
	font-family: inherit;
}
#ellak-newsbar {
	width: 100%;
	max-width: 1240px;
	padding: 0 0 5px;
}
#ellak-sites {
	width: 520px;
	padding-top: 5px;
}
#ellak-sites a,
#ellak-sites select {
	display: inline-block;
}
#ellak-sites select {
	margin-bottom: 0;
}

.flickr-title {
	margin: 20px 0;
}

.header-login {
	position: absolute;
	right: 20px;
	top: 110px;
}
.header-login a {
	margin-left: 20px;
}
.the_content_wrapper ul.tml-action-links {
	margin: 0 0 25px 0;
}
.tml-action-links li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}
#loginform .submit input,
#setupform .submit input {
	padding: 10px 15px;
}

.assoc-links {
	list-style: none;
	margin: 0;
	padding: 0;
}
.assoc-links li {
	margin-bottom: 10px;
}

.footer_menu .container {
	padding: 0;
}
.shortcode_widget .nav-links,
.shortcode_widget .feed-source {
	display: none;
}

#theme-my-login.login,
#theme-my-login0.login {
	max-width: 400px;
	min-width: 250px;
	margin: 0 auto;
}
#theme-my-login.login .indicator-hint {
}
#theme-my-login.login #pass-strength-result {
	width: 89%;
}

.page-id-12897 .wp-social-login-widget {
	max-width: 400px;
	margin: 0 auto;
}

.footer_extra {
	text-align: center;
	margin: 30px 0;
	font-size: 16px;
}
.footer_extra a {
	border: 1px solid #999;
	padding: 10px 25px;
}
.footer_extra a:hover {
	text-decoration: none;
	color: #f87e0f;
	border-color: #f87e0f;
}

.single-post .post_photo {
	float: left;
	width: auto;
	margin-left: 30px;
}

.ellak-ds td p {
	text-align: center;
}

/* resize the logo on smaller screens */
@media only screen and (max-width: 1239px) {
	#Header #logo img {
		width: 60%;
	}
	#ellak-newsbar {
		width: 960px;
	}
}

/* hide the newsbar on small screens */
@media only screen and (max-width: 959px) {
	#ellak-newsbar {
		width: 728px;
	}
	#ellak-friendfeed,
	#ellak-sites {
		float: none;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 767px) {
	#ellak-newsbar-cont {
		display: none;
	}
}

@media only screen and (min-width: 960px) {
	#Header.is-sticky .header-login {
		display: none;
	}
}
